<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
<%- include('partials/navbar') %>

<div class="container mt-5">
    <h1 class="mb-4"><%= title %></h1>
    <p>¡Tu servidor Express con EJS funciona!</p>
</div>

<%- include('partials/footer') %>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>